In [33]:
# dependencies and setup
from bs4 import BeautifulSoup as bs
from splinter import Browser
import time
import pandas as pd

In [34]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [35]:
# Visit the NASA website to find the top mars news article
mars_url = "https://mars.nasa.gov/news/"
browser.visit(mars_url)
time.sleep(1)
html_mars_site = browser.html
time.sleep(1)
# Scrape page into Soup
soup = bs(html_mars_site,"html.parser")
time.sleep(1)

In [36]:
# Find the the latest news title and headline text in soup
news_title = soup.find_all("div",class_="content_title")[1].text
time.sleep(1)

In [37]:
# Find the the latest news title and headline text in soup
news_p = soup.find("div",class_="article_teaser_body").text
time.sleep(1)

In [38]:
# Sanity Check
print(f"The latest title is: {news_title}")
print(f"With the description: {news_p}")

The latest title is: NASA Readies Perseverance Mars Rover's Earthly Twin
With the description: Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.

# JPL Mars Space Images - Featured Image

In [39]:
# IMAGE
# website https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars
# base https://www.jpl.nasa.gov

In [40]:
jpl_image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
jpl_image_url_base = "https://www.jpl.nasa.gov"
browser.visit(jpl_image_url)
time.sleep(1)
browser.links.find_by_partial_text('FULL IMAGE').click()
browser.links.find_by_partial_text('more info').click()

In [41]:
html_mars_site = browser.html
time.sleep(1)
soup = bs(html_mars_site,"html.parser")
img = soup.find("img",class_="main_image")['src']
featured_image_url = jpl_image_url_base + img

# Mars Weather

# Mars Facts

In [42]:
# https://space-facts.com/mars/
mars_facts_url = "https://space-facts.com/mars/"
mars_facts = pd.read_html(mars_facts_url)
facts_df = mars_facts[0]
facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [43]:
facts_df.columns = ['Planet Profile','Recorded']
facts_df.to_html(header=False, index=False)
facts_df

         Planet Profile                       Recorded
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

# Mars Hemispheres

In [44]:
hemisphere_image_urls = []
mars_hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
hemisphere_base_url = "https://astrogeology.usgs.gov"

In [45]:
browser.visit(mars_hemisphere_url)
time.sleep(1)
html_hemispheres = browser.html
time.sleep(1)
hemisphere_soup = bs(html_hemispheres, 'html.parser')
time.sleep(1)
items = hemisphere_soup.find_all('div', class_='item')
time.sleep(1)

In [46]:
for x in items:
    title = x.find("h3").text
    time.sleep(1)
    
    image_url = x.find('a', class_='itemLink product-item')["href"]
    time.sleep(1)
    
    browser.visit(hemisphere_base_url + image_url)
    time.sleep(1)
    
    image_url_html = browser.html
    time.sleep(1)
    
    hemisphere_soup = bs(image_url_html,"html.parser")
    time.sleep(1)
    
    hem_image_url = hemisphere_base_url + hemisphere_soup.find("img",class_="wide-image")["src"]
    time.sleep(1)
    
    hemisphere_image_urls.append({"title":title,"img_url":hem_image_url})
    time.sleep(1)

In [47]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]