In [19]:
# dependencies and setup
from bs4 import BeautifulSoup as bs
from splinter import Browser
import time
import pandas as pd

In [28]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [21]:
# Visit the NASA website to find the top mars news article
mars_url = "https://mars.nasa.gov/news/"
browser.visit(mars_url)
time.sleep(1)
html_mars_site = browser.html
time.sleep(1)
# Scrape page into Soup
soup = bs(html_mars_site,"html.parser")
time.sleep(1)

In [22]:
# Find the the latest news title and headline text in soup
news_title = soup.find_all("div",class_="content_title")[1].text
time.sleep(1)

In [23]:
# Find the the latest news title and headline text in soup
news_p = soup.find("div",class_="article_teaser_body").text
time.sleep(1)

In [24]:
# Sanity Check
print(f"The latest title is: {news_title}")
print(f"With the description: {news_p}")

The latest title is: NASA Engineers Checking InSight's Weather Sensors
With the description: An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.

# JPL Mars Space Images - Featured Image

In [25]:
# IMAGE
# website https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars
# base https://www.jpl.nasa.gov

In [34]:
jpl_image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
jpl_image_url_base = "https://www.jpl.nasa.gov"
browser.visit(jpl_image_url)
time.sleep(1)
browser.links.find_by_partial_text('FULL IMAGE').click()
browser.links.find_by_partial_text('more info').click()

In [38]:
html_mars_site = browser.html
time.sleep(1)
soup = bs(html_mars_site,"html.parser")
img = soup.find("img",class_="main_image")['src']
featured_image_url = jpl_image_url_base + img

# Mars Weather

# Mars Facts

In [40]:
# https://space-facts.com/mars/
mars_facts_url = "https://space-facts.com/mars/"
mars_facts = pd.read_html(mars_facts_url)
facts_df = mars_facts[0]
facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [42]:
facts_df.columns = ['Planet Profile','Recorded']
facts_df.to_html(header=False, index=False)
facts_df

         Planet Profile                       Recorded
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

# Mars Hemispheres